* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    ;

}

.nav {
    background-color: rgba(0, 0, 255, 0.247);
    padding: 20px;    
}

.nav div li { 
    list-style-type: none;
    float: right;
    margin-left: 50px;
    padding: 0px;

}

.nav h1 {
    font-size: 44px; 
    display: inline-block;  
}